.topnav {
	box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.2);
	height: 90px;
}

#main-container {
/*	margin-top: 90px;*/
}

	#main-container form {
		margin-bottom: 20px;
	}

#navbar {
	margin-top: 20px;
	text-transform: uppercase;
	z-index: 100000;
}

	#navbar ul li a {
		color: #fff;
		font-size: 13px;
		letter-spacing: 0.5px;
		font-weight: bold;
	}

.navbar-brand {
	margin-top: 20px;
	color: #fff;
	font-size: 20px;
	letter-spacing: 0.5px;
	font-weight: bold;
}

	.navbar-brand:hover {
		color: white;
	}

#navbar ul li a:focus {
	background-color: rgba(50,50,50,0.7);
}

#navbar ul li a:hover,
.navbar-brand:hover {
	background-color: rgba(50,50,50,0.7);
}

.nav-dropdown {
	background-color: rgb(30,30,30);
	color: #fff;
}

.auth-button {
	color: #fff;
	background-color: rgba(0,0,0,0.2);
}

.quick-search-h {
	margin-top: 200px;
}

	.quick-search-h h2 {
		font-size: 46px;
		color: #fff;
		margin-bottom: 30px;
		letter-spacing: -1px;
		font-weight: 500;
	}

@media screen and (max-width: 1199px) {
	#banner {
		margin-top: -90px;
		/*For fixingg top nav bug on small screen*/
	}
}

.serch-input {
	font-weight: 500;
	font-size: 20px;
	box-sizing: border-box;
	padding: 10px 20px;
	border: none;
	margin-right: 2%;
	float: left;
	color: #909090;
	margin: 0;
	max-width: 100%;
	border-radius: 0px;
	border: none;
	margin-right: 20px;
}

.location-selector .bootstrap-select .dropdown-toggle {
	border-radius: 0px;
	border:none;
}

.location-selector .bootstrap-select{
	padding:0px;
}
.location-selector .dropdown-toggle span.filter-option {
	font-weight: 500;
	font-size: 20px;
	box-sizing: border-box;
	padding: 4px 20px;
	border: none;
	margin-right: 2%;
	float: left;
	color: #909090;
	margin: 0;
	max-width: 100%;
	border-radius: 0px;
	border: none;
	margin-right: 20px;
}

.search-submit i {
	font-size: 1.4em;
}

.search-submit {
	width: 48px;
	height: 48px;
	border: none;
}

@media screen and (max-width: 756px) {
	.search-submit {
		width: 100%;
	}
	#navbar{
		background-color:#AAA;
		color:#fff;
	}

}

.brws-lbl {
	color: #fff;
	font-size: 1.2em;
}

.brws-btn:visited {
	text-decoration: none;
}

.brws-btn:hover {
	color: #fff;
	text-decoration: none;
}

.brws-btn {
	margin-left: 10px;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.1);
	border: rgb(20,20,20);
}

.bws-btn {
	background-color: rgba(50,50,50,0.9);
}

.cnt-offers {
	margin-top: 30px;
}

	.cnt-offers span {
		color: #fff;
		font-size: 1.7em;
	}

		.cnt-offers span strong {
			font-size: 1.2em;
		}

.popular-category:hover {
	background-color: #F9F3F5;
	border: solid 1px #A9546A;
}

.popular-category div:first-of-type {
	margin-bottom: 10px;
	color: #A9546A;
}

.popular-category {
	text-align: center;
	border: solid 1px #e0e0e0;
	height: 120px;
	padding-top: 20px;
}

.all-category-btn:hover {
	background-color: #F9F3F5;
	border: solid 1px #A9546A;
}

.all-category-btn {
	margin: 30px auto 0 auto;
	padding: 10px 20px;
	border-radius: 0px;
	background-color: #A9546A;
}

.recent-ad col-xs-1 {
	height: 80px;
}

.recent-ad div img {
	margin-top: 42px;
	width: 100px;
	min-height: 50px;
}

.recent-ads h3,
.popular-categories h3 {
	margin-bottom: 30px;
	font-size: 22px;
}

.recent-ad {
	min-height: 160px;
	border-top: solid 1px #e0e0e0;
}

	.recent-ad:last-of-type {
		border-bottom: solid 1px #e0e0e0;
	}

	.recent-ad:hover {
		background-color: #F9F3F5;
		border-top-color: #A9546A;
		border-bottom: solid 1px #A9546A;
	}

.rcnt-ad-desc {
	margin-top: 20px;
}

	.rcnt-ad-desc p {
		font-size: 15px;
		color: #808080;
	}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

#LoginModal .modal-dialog .modal-content .modal-header {
	background-color: #fafafa;
	padding: 25px 40px;
	border-bottom: 1px solid #e0e0e0;
	color: #333;
	font-weight: 500;
}




.nav-tabs {
	margin-bottom: 15px;
}

.sign-with {
	margin-top: 25px;
	padding: 20px;
}

div#OR {
	height: 30px;
	width: 30px;
	border: 1px solid #C2C2C2;
	border-radius: 50%;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	float: right;
	position: absolute;
	right: -16px;
	top: 40%;
	z-index: 1;
	background: #DFDFDF;
}

footer {
	background-color: #0c1a1e;
	min-height: 350px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}

.footerleft {
	margin-top: 50px;
	padding: 0 36px;
}

.logofooter {
	margin-bottom: 10px;
	font-size: 25px;
	color: #fff;
	font-weight: 700;
}

.footerleft p {
	color: #fff;
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

	.footerleft p i {
		width: 20px;
		color: #999;
	}


.paddingtop-bottom {
	margin-top: 50px;
}

.footer-ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 2px;
}

	.footer-ul li {
		line-height: 29px;
		font-size: 12px;
	}

		.footer-ul li a {
			color: #a0a3a4;
			transition: color 0.2s linear 0s, background 0.2s linear 0s;
		}

	.footer-ul i {
		margin-right: 10px;
	}

	.footer-ul li a:hover {
		transition: color 0.2s linear 0s, background 0.2s linear 0s;
		color: #ff670f;
	}

.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}




.icon-ul {
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
}

	.icon-ul li {
		line-height: 75px;
		width: 100%;
		float: left;
	}

.icon {
	float: left;
	margin-right: 5px;
}


.copyright {
	min-height: 40px;
	background-color: #000000;
}

	.copyright p {
		text-align: left;
		color: #FFF;
		padding: 10px 0;
		margin-bottom: 0px;
	}

.heading7 {
	font-size: 21px;
	font-weight: 700;
	color: #d9d6d6;
	margin-bottom: 22px;
}

.post p {
	font-size: 12px;
	color: #FFF;
	line-height: 20px;
}

	.post p span {
		display: block;
		color: #8f8f8f;
	}

.bottom_ul {
	list-style-type: none;
	float: right;
	margin-bottom: 0px;
}

	.bottom_ul li {
		float: left;
		line-height: 40px;
	}

		.bottom_ul li:after {
			content: "/";
			color: #FFF;
			margin-right: 8px;
			margin-left: 8px;
		}

		.bottom_ul li a {
			color: #FFF;
			font-size: 12px;
		}
